.add-container {
    min-height: 100vh;
    background-color: black;
    color: white;
}

.companyLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.companyLogo label {
    font-size: .8rem;
    width: 15%;
    padding: .3rem .1rem;
    cursor: pointer;
    border-radius: 4px;
    border: .5px solid var(--primary);
    transition: .3s;
}

.companyLogo label:hover {
    transition: .3s;
    background-color: var(--primary);
    color: black;
    font-weight: bold;
}

.error {
    font-size: .8rem;
    color: red;
    letter-spacing: .5px;

}

.jobType {
    background-color: black !important;
    color: white !important;
    border-radius: 4px;
    padding: .2rem .1rem;
    cursor: pointer;
}

.jobType option {
    background-color: black !important;
    color: white !important;
}


.logo{
    width: 10rem;
    height: 10rem;
    border-radius: 4px;
    padding: .5rem;
    background-color: white;
    border: 2px solid black;
}


.jobDescription{
    background-color: transparent;
    color: white;
    border-radius: 4px;
    padding: .3rem;
}




@media (min-width:320px) and (max-width:768px) {
    .companyLogo label {
        width: 80%;

    }

    .jobDescription{
       width: 100% !important;
    }
    
}